@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    background-color: rgba(0, 0, 0, 255);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #F1F1F1;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 350px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

input {
    background-color: rgba(0, 0, 0, 255);
    width: 120px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #F1F1F1;
    border: 2px solid rgba(236, 172, 185, 255);
    border-radius: 5px;
}

input::placeholder {
    opacity: 60%;
}

input:focus::placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}

button {
    background-color: rgba(236, 172, 185);
    border: none;
    color: black;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 15px;
}

button:hover {
    border-radius: 15px;
    transition-duration: 0.4s;
}

button:active {
    background-color: rgba(236, 172, 185, 0.755);
    transition-duration: 1ms;
}

span {
    color: rgba(236, 172, 185, 255);
    font-size: 50px;
    font-weight: bold;
    margin-top: 35px;
}

a {
    color: rgba(236, 172, 185, 255);
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    margin: 80px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h5 {
    color: #F1F1F1;
    font-size: 22px;
    margin-bottom: 15px;
}

#addAbbreviation {
    opacity: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#error {
    margin-top: 15px;
}

#Abb {
    font-size: 20px;
    margin-bottom: 15px;
    width: 175px;
}

#Title {
    font-size: 20px;
    text-transform: none;
    width: 250px;
    margin-bottom: 15px;
}


/* Footer  */

footer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

footer p {
    color: #bdbcbc;
    opacity: 50%;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #bdbcbc;
    font-size: small;
}

footer b:hover {
    color: #bdbcbc;
}

#Impressum {
    font-size: 14px;
    color: #9d9d9dd7;
    margin-top: 4px;
}